{% extends "layout.html" %}

{% block title %}
	Trump Tweets 
{% endblock %}

{% block head %}

<!-- Import D3 library -->
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3-dsv.v1.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="https://d3js.org/d3-scale.v3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.min.js"></script>

<!-- Import jQuery -->
<script type='text/javascript' src='https://code.jquery.com/jquery-1.8.3.js'></script>

<style>

.d3-tip {
	line-height: 1.5;
	font-weight: 400;
	font-family:"avenir next", Arial, sans-serif;
	padding: 2px;
	font-size: 11px;
	background: rgba(0, 0, 0, 0.6);
	color: #FFA500;
	border-radius: 1px;
	pointer-events: none;
	max-width: 200px;
}

</style>

{% endblock %}

{% block main %}
<div class="updated-at-wrap">Updated at: <span id="updated-at-span">--/--/----</span></div>
<script type="text/javascript">
	// Color scheme - Add more as needed 
	var theme = {grey: '#696969', select: '#FF0000'};

	// parse time from aggregated_tweets.csv, it's formatted 10-2020 for October, 2020
	var parse_agg = d3.timeParse("%Y-%m");
	var parse_events = d3.timeParse("%m-%d-%Y")


	// enter code to define tooltip
	var barGraphTip = d3.tip()
		.attr('class', 'd3-tip')
		.offset([-10, 0])
		.style("line-height", 1.5)
		.style("background", "rgba(0, 0, 0, 0.75)")
		.style("color", "white")
		.style("padding", "10px")
		.style("border-radius", "10px")
		.html(d => {
			const gradeLevel = Math.round(d['grade_level']);
			let gradeLevelString = gradeLevel;
			if (gradeLevel === 1) {
				gradeLevelString += 'st';
			} else if (gradeLevel === 2) {
				gradeLevelString += 'nd';
			} else if (gradeLevel === 3) {
				gradeLevelString += 'rd';
			} else {
				gradeLevelString += 'th';
			}

			let tipHtml = '';
			if (d['month']) {
				tipHtml += `<strong>${d['month']}</strong><br>`;
			}

			tipHtml += `
				${d['count']} tweets sent<br>
				Sentiment: ${Math.round(d['sentiment'] * 100)/100} <br>
				Subjectivity: ${Math.round(d['subjectivity'] * 100)/100} <br>
				${gradeLevelString} grade reading level
			`;
			return tipHtml;
		});
	
	var scatterPlotTip = d3.tip()
		.attr('class', 'd3-tip')
		.offset([-10, 0])
		.style("line-height", 1.5)
		.style("background", "rgba(0, 0, 0, 0.75)")
		.style("color", "white")
		.style("padding", "10px")
		.style("border-radius", "10px")
		.html(d =>
			`<div>${d.text}</div>
			<div>${d.created_at}</div>`
		);

	// SVG 1 - Bar graph
	// define margin and dimensions for svg_1
	var svg_1_height = 225,
		svg_1_width = 1440,
		svg_1_margin = {top: 0, right: 110, bottom: 50, left: 65};

	var svg_1 = d3.select("body")
		.append("svg")
		.attr("width", svg_1_width)
		.attr("height", svg_1_height);

	svg_1.call(barGraphTip);

	// SVG 2 - Scatter plot 
	// define margin and dimensions for svg_2
	var svg_2_height = 500,
		svg_2_width = 500,
		svg_2_margin = {top: 50, right: 50, bottom: 50, left: 75};

	var svg_2 = d3.select("body")
		.append("svg")
		.attr("width", svg_2_width)
		.attr("height", svg_2_height);

	svg_2.call(scatterPlotTip);

	// SVG 3 - Word Clouds
	// define margin and dimensions for svg_3
	var svg_3_height = 500,
		svg_3_width = 940,
		svg_3_margin = {top: 50, right: 100, bottom: 50, left: 75};

	var svg_3 = d3.select("body")
		.append("svg")
		.attr("width", svg_3_width)
		.attr("height", svg_3_height);

	// SVG 4 - 2020 Tweeting Calendar 
	// define margin and dimensions for svg_4
	var svg_4_height = 700,
		svg_4_width = 1440,
		svg_4_margin = {top: 100, right: 75, bottom: 50, left: 100};

	var svg_4 = d3.select("body")
		.append("svg")
		.attr("width", svg_4_width)
		.attr("height", svg_4_height);
	

	// starting to try to add a button select to toggle the year for the word cloud display
	// see bottom of page for example html that has been commented out
	// var year_select = svg_3.append("foreignObject")
	// 	.attr("width", svg_3_width - (svg_3_margin.right - svg_3_margin.left))
	// 	.attr("heigh", 50)
	// 	.append()


	Promise.all([
		{{ events | tojson | safe }},
		{{ aggregated_tweets | tojson | safe }},
		{{ tweet_data | tojson | safe }},
		{{ calendar_data | tojson | safe }},
		]).then((values) => {

			ready(values[0], values[1], values[2], values[3]);;

		});

	function ready(events, aggregated_tweets, tweet_data, calendar_data) {
		const latestTweet = tweet_data.sort((data1, data2) => new Date(data2.created_at) - new Date(data1.created_at))[0];
		const latestDate = new Date(latestTweet.created_at);
		$('#updated-at-span').text(`${latestDate.getMonth() + 1}/${latestDate.getDay() + 1}/${latestDate.getUTCFullYear()}`);
		

		var default_subj = 'all',
			default_attr = 'sentiment',
			default_data = 'retweet_count';
			default_year = 2020;
	
		// initially build bar graph with default values
		build_bar_graph(events, aggregated_tweets, default_subj, default_attr);
		build_scatter_plot(tweet_data, default_subj, default_attr, default_data);
		build_word_cloud(default_subj, default_year);
		build_calendar(calendar_data, default_subj, default_attr);


		// listen for subject dropdown change
		$("#subject_select a").click(function() {
			// trying to update the dropdown button text to display the current selection, but can't figure out how. 
			$('#subject_select_menu').html($(this).text());

			var new_subj = $(this)[0].getAttribute('value');
			subject_change(new_subj);
		});


		// handle when the user changes the tweet subject: all, economy, covid, etc
		function subject_change(new_subject) {

            svg_1.selectAll("*").remove();
            svg_2.selectAll("*").remove();
            svg_3.selectAll("*").remove();
            svg_4.selectAll("*").remove();
			build_bar_graph(events, aggregated_tweets, new_subject, attr);
			build_scatter_plot(tweet_data, new_subject, attr, data);
			build_word_cloud(new_subject, yr);
			build_calendar(calendar_data, new_subject, attr);
		}

		// listen for year button change 
		$(".year_btn").on('click', function() {
			var new_year = $(this)[0].getAttribute('value');
			year_change(new_year);
		})

		// handle when the user selects a new year
		function year_change(new_year) {
			build_word_cloud(subj, new_year);
		}

		// listen for attribute button change 
		$(".attribute_btn").on('click', function() {
			var new_attr = $(this)[0].getAttribute('value');
			attr_change(new_attr);
		})

		// handle when the user changes the attribute they wish to visualize: sentiment, subjectivity, reading level
		function attr_change(new_attr, old_subject) {

			svg_1.selectAll("*").remove();
			svg_2.selectAll("*").remove();
			svg_4.selectAll("*").remove();
			build_bar_graph(events, aggregated_tweets, subj, new_attr);
			build_scatter_plot(tweet_data, subj, new_attr, data);
			build_calendar(calendar_data, subj, new_attr)
		}

		// listen for data button change 
		$(".data_btn").on('click', function() {
			var new_attr = $(this)[0].getAttribute('value');
			data_change(new_attr);
		})

		// handle when the user changes the data they wish to visualize: retweets, favorites, tweet length
		function data_change(new_data) {

			svg_2.selectAll("*").remove();
			build_scatter_plot(tweet_data, subj, attr, new_data);
		}
	}

	function build_calendar(calendar_data, subject, attribute) {
		subj = subject;
		attr = attribute;

		g_4 = svg_4.append("g")

		var header_labels = {'all': 'All', 'covid': 'Covid-19', 'economy': 'The Economy', 'foreign_policy': 'Foreign Policy', 'domestic_policy': 'Domestic Policy', 'other': 'Other', 'impeachment': 'Impeachment'}

		svg_4.append("text")
			// .attr("tansform", "translate(0," + svg_4_margin.top / 2 + ")")
	        .attr("y", svg_4_margin.top / 2)
	        .attr("x", svg_4_width / 2)
	        .attr("text-anchor", "middle")
	        .style("font-size", "30px")
            .text("Trump's Year in Tweets: 2020 - " + header_labels[subj])

        // define the color scale to use to display sentiment data 
		var sentiment_color_scale = d3.scaleSequentialSymlog(d3.interpolatePuOr).domain([-1,1]),
			subjectivity_color_scale = d3.scaleSequentialSymlog(d3.interpolatePiYG).domain([0,1]),
			grade_level_color_sale = d3.scaleSequentialPow(d3.interpolateBlues)
				.domain(d3.extent(calendar_data, function(d) { return +d['grade_level']; }));

		var square_scale = d3.scaleLog()
			.range([0, 30])
			.domain(d3.extent(calendar_data, function(d) { 
				if (d['subject'] == subject) {
					return +d['count']; 
				}
			}))


		g_4.selectAll("calendar_square")
			.data(calendar_data)
	        .enter()
	        .filter(function(d) { return d['subject'] == subject; })
	        .append("rect")
	        .attr("fill", function(d) { 
	        	if (attribute == 'sentiment') {
	        		return sentiment_color_scale( 2 * +d[attribute] ); 
	        	} else if (attribute == 'subjectivity') {
	        		return subjectivity_color_scale( (+d[attribute] - 0.5) + +d[attribute] );
	        	} else if (attribute == 'grade_level') {
	        		return grade_level_color_sale( +d[attribute]);
	        	};
	        })
	        .attr("x", function(d) { return +d['day'].slice(3, 5) * (svg_4_width - svg_4_margin.left - svg_4_margin.right) / 31 + svg_4_margin.left - square_scale(d['count']) / 2; })
	        .attr("y", function(d) { return +d['day'].slice(0, 2) * (svg_4_width - svg_4_margin.left - svg_4_margin.right) / 31 + svg_4_margin.top - square_scale(d['count']) / 2; })
	        .attr("width", function(d) { return square_scale(d['count']); })
	        .attr("height", function(d) { return square_scale(d['count']); })
	        .on('mouseover',function(d) {
				d3.select(this).style('fill', theme.select)
				barGraphTip.show(d, this);
			})
			.on('mouseout', function(d){
				d3.select(this).style("fill", function(d) { 
					if (attribute == 'sentiment') {
		        		return sentiment_color_scale( 2 * +d[attribute] ); 
		        	} else if (attribute == 'subjectivity') {
		        		return subjectivity_color_scale( (+d[attribute] - 0.5) + +d[attribute] );
		        	} else if (attribute == 'grade_level') {
		        		return grade_level_color_sale( +d[attribute]);
		        	}; })
				barGraphTip.hide(d, this);
			});

		var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
		var days = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']

		g_4.selectAll("month_labels")
			.data(months)
			.enter()
			.append("text")
			.attr("x", svg_4_margin.left + 5)
			.attr("y", function(d, i) { return (i + 1) * (svg_4_width - svg_4_margin.left - svg_4_margin.right) / 31 + svg_4_margin.top + 5; })
			.attr("text-anchor", "end")
			.style("fill", "#a9a9a9")
			.text(function(d) {	return d; })

		g_4.selectAll("day_labels")
			.data(days)
			.enter()
			.append("text")
			.attr("x", function(d, i) { return (i + 1) * (svg_4_width - svg_4_margin.left - svg_4_margin.right) / 31 + svg_4_margin.left; })
			.attr("y", svg_4_margin.top )
			.attr("text-anchor", "middle")
			.style("fill", "#a9a9a9")
			.text(function(d) {	return d; })

		// Create shade legend for attribute color scale 
	    var sentiments = [0.6, 0.3, 0.0, -0.3, -0.6] 
	    var subjectivities = [0.0, 0.2, 0.4, 0.6, 0.8]
	    var grade_levels = [12, 9, 6, 3, 1]

	    // define top of legend in case we change dimensions of chart
	    var top = 50;


		// Create dynamic legend
	    g_4.selectAll("legend_squares")
	    	.data(function() {
	    		if (attribute == 'sentiment') {
	    			return sentiments;
	    		} else if (attribute == 'subjectivity') {
	    			return subjectivities;
	    		} else if (attribute == 'grade_level') {
	    			return grade_levels;
	    		}
	    	})
	    	.enter()
	    	.append("rect")
	    	.attr("fill", function(d) {
	    		if (attribute == 'sentiment') {
	    			return sentiment_color_scale( d );;
	    		} else if (attribute == 'subjectivity') {
	    			return subjectivity_color_scale( d );;
	    		} else if (attribute == 'grade_level') {
	    			return grade_level_color_sale( d );
	    		}
	    	})
	        .attr("x", function(d, i) { return svg_4_margin.left + i * 15 + 50; })
	        .attr("y", svg_4_margin.top - 50)
	        .attr("width", 10)
	        .attr("height", 10);
	    g_4.append("text")
	    	.attr("transform", "translate(0,0)")
	        .attr("text-anchor", "start")
	        .attr("x", svg_4_margin.left + 50)
	        .attr("y", svg_4_margin.top - 60)
	        .text(function() {
	    		if (attribute == 'sentiment') {
	    			return "Sentiment";;
	    		} else if (attribute == 'subjectivity') {
	    			return "Subjectivity";;
	    		} else if (attribute == 'grade_level') {
	    			return "Reading Level";
	    		}
	    	})
	        .attr("fill", theme.grey)
	        .style("font-size", "15px");
	    g_4.append("text")
	    	.attr("transform", "translate(0,0)")
	        .attr("text-anchor", "end")
	        .attr("x", svg_4_margin.left + 35)
	        .attr("y", svg_4_margin.top - 40)
	        .text(function() {
	    		if (attribute == 'sentiment') {
	    			return "Positive";
	    		} else if (attribute == 'subjectivity') {
	    			return "Objective";
	    		} else if (attribute == 'grade_level') {
	    			return "12th Grade";
	    		}
	    	})
	        .attr("fill", theme.grey)
	        .style("font-size", "12px");
	    g_4.append("text")
	    	.attr("transform", "translate(0,0)")
	        .attr("text-anchor", "start")
	        .attr("x", svg_4_margin.left + 130)
	        .attr("y", svg_4_margin.top - 40)
	        .text(function() {
	    		if (attribute == 'sentiment') {
	    			return "Negative";;
	    		} else if (attribute == 'subjectivity') {
	    			return "Subjective";;
	    		} else if (attribute == 'grade_level') {
	    			return "1st Grade";
	    		}
	    	})
	        .attr("fill", theme.grey)
	        .style("font-size", "12px");

	    // Add the tweet count square size legend
	    var sizes = [5, 17.5, 30],
		    spacing_1 = [0, 5, 17.5],
		    spacing_2 = [0, 0, 5],
		    left = 100;

	    g_4.selectAll("num_tweets_squares")
	    	.data(sizes)
	    	.enter()
	    	.append("rect")
	    	.style("fill", "teal")
	    	.attr("x", function(d, i) { return left + 1100 + 20 * i + spacing_1[i] + spacing_2[i]; })
	        .attr("y", function(d) { return svg_4_margin.top - 40 - d})
	        .attr("width", function(d) { return d; })
	        .attr("height", function(d) { return d; });
	    g_4.append("text")
	    	.attr("text-anchor", "end")
	    	.attr("x", left + 1080)
	    	.attr("y", svg_4_margin.top - 40)
	    	.attr("fill", theme.grey)
	    	.style("font-size", "12px")
	    	.text("A few tweets")
	   	g_4.append("text")
	    	.attr("text-anchor", "end")
	    	.attr("x", left + 1290)
	    	.attr("y", svg_4_margin.top - 40)
	    	.attr("fill", theme.grey)
	    	.style("font-size", "12px")
	    	.text("A lot of tweets")





	}

	function build_word_cloud(subject, year) {
		yr = year;
		subj = subject;

		if (subj == 'all') {
			var filename = yr.toString() + '.png';
		} else {
			var filename = yr.toString() + '_' + subj + '.png';
		}


		// var attr_string = "{{url_for('static', filename=" + filename + ")}}";
		var attr_string = "static/" + filename;


		svg_3.append("svg:image")
			.attr('x', 0)
			.attr('y', 0)
			.attr('width', svg_3_width)
			.attr('height', svg_3_height)
			.attr("xlink:href", attr_string);

	}


	function build_scatter_plot(tweet_data, subject, x_attribute, y_attribute) {
		data = y_attribute;
		
		//console.log("subject = "+subject.toString());

		var g_2 = svg_2.append("g")
			.attr("transform", "translate(" + svg_2_margin.left + "," + 0 + ")");
			
		//console.log("x_attribute "+x_attribute.toString());
		//console.log(tweet_data);

		// define x axis for scatter plot 
		var scatter_x = d3.scaleLinear()
			.range([svg_2_margin.left, svg_2_width - svg_2_margin.right]) // added margin.right
			.domain(d3.extent(tweet_data, function(d) {
				if (subject == 'all') {
					return +d[x_attribute]
				} else if (d[subject] == 1) {
					return +d[x_attribute];
				}
			}));

		var scatter_x_axis = d3.axisBottom().scale(scatter_x);

		g_2.append("g")
	        .attr("class", "axis")
	        .attr('transform', 'translate(' + (0 - svg_2_margin.left ) + ',' + (svg_2_height - svg_2_margin.bottom) + ')')
	        .call(scatter_x_axis);


	    // y axis 
		var scatter_y = d3.scaleLinear()
			.range([svg_2_height - svg_2_margin.bottom, svg_2_margin.top])
			.domain(d3.extent(tweet_data, function(d) {
				if (subject == 'all') {
					return +d[y_attribute];
				} else if (d[subject] == 1) {
					return +d[y_attribute];
				}
			}));


		var scatter_y_axis = d3.axisLeft().scale(scatter_y);

	   	g_2.append("g")
	        .attr("class", "axis")
	        .attr("transform", "translate(" + 0 + "," + 0 + ")")
	        .call(scatter_y_axis);

	    // add points on the scatter plot 
	    g_2.selectAll("circle")
	    	.data(tweet_data)
	    	.enter()
	    	.filter(function(d) { 
	    		if ( subject == 'all') {
	    			return d;
	    		} else {
	    			return +d[subject] == 1;
	    	}}) 
	    	.append("circle")
	    	.style("fill", "teal")
	    	.style("opacity", 0.25)
	    	.attr("cx", function(d) { return scatter_x( +d[x_attribute] ) - svg_2_margin.left; })
	        .attr("cy", function(d) { return scatter_y( +d[y_attribute] ); })
	        .attr("r", 4)
			.on("mouseover", function(d) {
				scatterPlotTip.show(d, this);
			})
			.on("mouseout", function(d) {
				scatterPlotTip.hide(d, this);
			});

	    // add labels to scatter plot
	    // y axis 
		svg_2.append("text")
	        .attr("transform", "rotate(-90)")
	        .attr("y", 25)
	        .attr("x", -200)
	        .attr("text-anchor", "middle")
            .text(function() {
	    		if (y_attribute == 'retweet_count') {
	    			return "# of Retweets";
	    		} else if (y_attribute == 'favorite_count') {
	    			return "# of Favorites";
	    		} else if (y_attribute == 'length') {
	    			return "Tweet Length";
	    		}
	    		else
                {
                    return y_attribute;
                }
	    	});
	        {#.text(y_attribute);#}

	    // x axis label
	    svg_2.append("text")
	        .attr("tansform", "translate(0," + svg_1_height + ")")
	        .attr("y", svg_2_height - 10)
	        .attr("x", svg_2_width / 2)
	        .attr("text-anchor", "middle")
            .text(function() {
	    		if (x_attribute == 'sentiment') {
	    			return "Sentiment";
	    		} else if (x_attribute == 'subjectivity') {
	    			return "Subjectivity";
	    		} else if (x_attribute == 'grade_level') {
	    			return "Reading Level"
	    		}
	    		else
                {
                    return x_attribute;
                }
	    	});
	        {#.text(x_attribute);#}
			
		//Here I draw the trend line
		//First I get the slope, intercept and rsquared
		
	    //xdata =  tweet_data.map(function(d) { return scatter_x( +d[x_attribute] ); });
		//ydata =  tweet_data.map(function(d) { return scatter_y( +d[y_attribute] ); });
		
		//Filtering Dataset
		var fDataset;
		
		if (subject == 'all')
		{
			
			fDataset = tweet_data;  
			
		}
		else
		{
			fDataset = tweet_data.filter(function(d){return d[subject] == '1';});
		}
		
		//console.log(fDataset);
		
		xdata =  fDataset.map(function(d) {	return +d[x_attribute]; } );
		ydata =  fDataset.map(function(d) { return +d[y_attribute]; } );

		var leastSquaresCoeff = leastSquares(xdata, ydata);

		var slope = leastSquaresCoeff[0];
		var intercept = leastSquaresCoeff[1];
		var rsquared = leastSquaresCoeff[2];
		
		//console.log("slope = "+slope.toString());
		//console.log("intercept = "+intercept.toString());
		//console.log("rsquared = "+rsquared.toString());
		
		//Now we use the results of the regression to create coordinates
		//that we will later draw:
		
		var x1 = d3.min(xdata);
		var y1 = slope * x1 + intercept;
		var x2 = d3.max(xdata);
		var y2 = slope * x2 + intercept;
		
		var x1Scaled = scatter_x(x1); 
		var y1Scaled = scatter_y(y1); 
		var x2Scaled = scatter_x(x2); 
		var y2Scaled = scatter_y(y2);
		
		var trendData = [x1Scaled,y1Scaled,x2Scaled,y2Scaled];
		//console.log("trendData = "+trendData.toString());
		
		var trendline = svg_2.selectAll(".trendline")
			.data(trendData);
		
		trendline.enter()
			.append("line")
			.attr("class", "trendline")
			.attr("x1", trendData[0])
			.attr("y1", trendData[1])
			.attr("x2", trendData[2])
			.attr("y2", trendData[3])
			.attr("stroke", "blue")
			.attr("stroke-width", 1);
	
	}
	function populateTweetDescription(aggregated_tweets, subject, attribute) {
		var attributeSum = 0;
		var attributeTotal = 0;
		aggregated_tweets.forEach((data) => {
			if (data.subject === subject) {
				attributeSum += Number(data[attribute]);
				attributeTotal++;
			}
		});
		var averageAttributeValue = attributeSum / attributeTotal;

		switch(attribute) {
			case 'sentiment':
				var scale = [-1, -0.5, -0.1, 0.1, 0.5, 1];
				var verbalScale = ['Very Negative', 'Somewhat Negative', 'Neutral', 'Somewhat Positive', 'Very Positive'];
				break;
			case 'grade_level':
				var scale = [-99, 3, 5, 7, 9, 99];
				var verbalScale = ['1st - 3rd grade', '3rd - 5th grade', '5th - 7th grade', '7th - 9th grade', '9th - 12th grade'];
				break;
			case 'subjectivity':
				var scale = [0, 0.2, 0.4, 0.6, 0.8, 1];
				var verbalScale = ['Very Objective', 'Somewhat Objective', 'Neutral', 'Somewhat Subjective', 'Very Subjective'];
				break;
		}

		var verbalScaleIndex = scale.findIndex((scaleVal, index) => {
			return (averageAttributeValue >= scaleVal) && (averageAttributeValue <= scale[index + 1]);
		});

		document.getElementById('tweet-description').innerHTML = verbalScale[verbalScaleIndex];
	}


    function build_bar_graph(events, aggregated_tweets, subject, attribute) {
		populateTweetDescription(aggregated_tweets, subject, attribute);

    	subj = subject;
    	attr = attribute;
	    var bar_spacing = 2;
		
		//Getting the number of months in the data
		var parse_month_as_date = d3.timeParse("%Y-%m-%d")
		var minDate = d3.min(aggregated_tweets.map(function(d) {if (d['subject'] == subject) {return parse_month_as_date(d['month']+"-01")}}));
		var maxDate = d3.max(aggregated_tweets.map(function(d) {if (d['subject'] == subject) {return parse_month_as_date(d['month']+"-01")}}));
		var diff = Math.floor(maxDate.getTime() - minDate.getTime());
		var milliSecondsInAday = 1000 * 60 * 60 * 24;
		var totMonths = Math.ceil(diff/milliSecondsInAday/31);
		var totDays = Math.ceil(diff/milliSecondsInAday);
		
		var getDaysInMonth = function(month){
		
			var date = parse_month_as_date(month+"-01");
			var toReturn = d3.timeDays(date, d3.timeMonth.offset(date,1),1).length;
				
			return toReturn;
		};
		
		var getBarWidth = function(month) {
			var days = getDaysInMonth(month)
			result = ((svg_1_width - svg_1_margin.right - svg_1_margin.left)*(days/totDays)) - (bar_spacing);
			return result;
		
		}
		;
    	var g_1 = svg_1.append("g")
			.attr("transform", "translate(" + svg_1_margin.left + "," + 0 + ")");

    	// define dimensions and axes  for bar graph 
		var bar_graph_x = d3.scaleTime()
			.range([svg_1_margin.left, svg_1_width - svg_1_margin.right])
			.domain(d3.extent(aggregated_tweets, function(d) { 
				if (d['subject'] == subject) {
					return parse_agg(d['month'])
				}
			}));

		var bg_x_axis = d3.axisBottom()
	        .scale(bar_graph_x)
	        .tickFormat(d3.timeFormat("%m %Y"));


		var bar_graph_y = d3.scaleLinear()
			.range([svg_1_height - svg_1_margin.bottom, svg_1_margin.top])
			.domain(d3.extent(aggregated_tweets, function(d) { 
				if (d['subject'] == subject) {
					return +d['count']
				}
			}));

		var bg_y_axis = d3.axisLeft().scale(bar_graph_y);


		// x axis
		g_1.append("g")
	        .attr("class", "axis")
	        .attr('transform', 'translate(' + (0 - svg_1_margin.left) + ',' + (svg_1_height - svg_1_margin.bottom) + ')') 
	        .call(bg_x_axis);

	    // x axis label
	    svg_1.append("text")
	        .attr("tansform", "translate(0," + svg_1_height + ")")
	        .attr("y", 290)
	        .attr("x", 720)
	        .attr("text-anchor", "middle")
	        .text("Month");

	    // y axis 
	    g_1.append("g")
	        .attr("class", "axis")
	        .attr("transform", "translate(" + 0 + "," + 0 + ")")
	        .call(bg_y_axis)
	        
	    // Add the text label for Y axis
	    svg_1.append("text")
	        .attr("transform", "rotate(-90)")
	        .attr("y", 25)
	        .attr("x", -100)
	        .attr("text-anchor", "middle")
	        .text("Tweets Sent");

		// define the color scale to use to display sentiment data 
		var sentiment_color_scale = d3.scaleSequentialSymlog(d3.interpolatePuOr).domain([-1,1]),
			subjectivity_color_scale = d3.scaleSequentialSymlog(d3.interpolatePiYG).domain([0,1]),
			grade_level_color_sale = d3.scaleSequentialPow(d3.interpolateBlues)
				.domain(d3.extent(aggregated_tweets, function(d) { return +d['grade_level']; }));

	    // Add rectangles to bar graph

	    // var bar_width = 
		g_1.selectAll("bg_1_rect")
	        .data(aggregated_tweets)
	        .enter()
	        .filter(function(d) { return d['subject'] == subject; })
	        .append("rect")
	        .attr("fill", function(d) { 
	        	if (attribute == 'sentiment') {
	        		return sentiment_color_scale( 2 * +d[attribute] ); 
	        	} else if (attribute == 'subjectivity') {
	        		return subjectivity_color_scale( (+d[attribute] - 0.5) + +d[attribute] );
	        	} else if (attribute == 'grade_level') {
	        		return grade_level_color_sale( +d[attribute]);
	        	};
	        })
	        .attr("x", function(d) { return bar_graph_x( parse_agg( d['month'])) - svg_1_margin.left; })
	        .attr("y", function(d) { return bar_graph_y( d['count']); })
	        .attr("width", function(d) {return getBarWidth(d['month']);} )
	        .attr("height", function(d) { return  svg_1_height - svg_1_margin.top - svg_1_margin.bottom - bar_graph_y(d['count']); })
			.attr("class",function(d) { return getDaysInMonth( d['month']);})
	        .on('mouseover',function(d){
				d3.select(this).style('fill', theme.select)
				barGraphTip.show(d, this);
			})
			.on('mouseout', function(d){
				d3.select(this).style("fill", function(d) { 
					if (attribute == 'sentiment') {
		        		return sentiment_color_scale( 2 * +d[attribute] ); 
		        	} else if (attribute == 'subjectivity') {
		        		return subjectivity_color_scale( (+d[attribute] - 0.5) + +d[attribute] );
		        	} else if (attribute == 'grade_level') {
		        		return grade_level_color_sale( +d[attribute]);
		        	}; })
				barGraphTip.hide(d, this);
			});

	    // Add event markers to bar graph
	    g_1.selectAll("event_line")
	    	.data(events)
	    	.enter()
	    	.filter(function(d) { return d['subject'] == subject; })
	    	.append("line")
	    	.style("class", "dashed")
	    	.style("stroke", theme.grey)
	    	.style("stroke-width", 2)
	    	.attr('x1', function(d) { return bar_graph_x( parse_events( d['date'])) - svg_1_margin.left; })
		    .attr('y1', 0)
		    .attr('x2', function(d) { return bar_graph_x( parse_events( d['date'])) - svg_1_margin.left; })
		    .attr('y2', svg_1_height - svg_1_margin.top - svg_1_margin.bottom);

		// Add labels to the event markers 
		g_1.selectAll("event_label")
			.data(events)
			.enter()
	    	.filter(function(d) { return d['subject'] == subject; })
	    	.append("text")
	        .attr("transform", "translate(0,0)")
	        .attr("text-anchor", "end")
	        .attr("x", function(d) { return bar_graph_x( parse_events( d['date'])) - svg_1_margin.left - 5; })
	        .attr("y", 25)
	        .text(function(d) { return d['title']; })
	        .attr("fill", theme.grey)
	        .style("font-size", "12px");

	    // Create shade legend for attribute color scale 
	    var sentiments = [0.6, 0.3, 0.0, -0.3, -0.6] 
	    var subjectivities = [0.0, 0.2, 0.4, 0.6, 0.8]
	    var grade_levels = [12, 9, 6, 3, 1]

	    // define top of legend in case we change dimensions of chart
	    var top = 50;

	    // Create dynamic legend
	    g_1.selectAll("legend_squares")
	    	.data(function() {
	    		if (attribute == 'sentiment') {
	    			return sentiments;
	    		} else if (attribute == 'subjectivity') {
	    			return subjectivities;
	    		} else if (attribute == 'grade_level') {
	    			return grade_levels;
	    		}
	    	})
	    	.enter()
	    	.append("rect")
	    	.attr("fill", function(d) {
	    		if (attribute == 'sentiment') {
	    			return sentiment_color_scale( d );;
	    		} else if (attribute == 'subjectivity') {
	    			return subjectivity_color_scale( d );;
	    		} else if (attribute == 'grade_level') {
	    			return grade_level_color_sale( d );
	    		}
	    	})
	        .attr("x", svg_1_width - svg_1_margin.right - svg_1_margin.left + 10)
	        .attr("y", function(d, i) { return svg_1_margin.top + i * 15 + top; })
	        .attr("width", 10)
	        .attr("height", 10);
	    g_1.append("text")
	    	.attr("transform", "translate(0,0)")
	        .attr("text-anchor", "start")
	        .attr("x", svg_1_width - svg_1_margin.right - svg_1_margin.left + 10)
	        .attr("y", top - 5)
	        .text(function() {
	    		if (attribute == 'sentiment') {
	    			return "Sentiment";;
	    		} else if (attribute == 'subjectivity') {
	    			return "Subjectivity";;
	    		} else if (attribute == 'grade_level') {
	    			return "Reading Level";
	    		}
	    	})
	        .attr("fill", theme.grey)
	        .style("font-size", "15px");
	    g_1.append("text")
	    	.attr("transform", "translate(0,0)")
	        .attr("text-anchor", "start")
	        .attr("x", svg_1_width - svg_1_margin.right - svg_1_margin.left + 25)
	        .attr("y", top + 10)
	        .text(function() {
	    		if (attribute == 'sentiment') {
	    			return "Positive";
	    		} else if (attribute == 'subjectivity') {
	    			return "Objective";
	    		} else if (attribute == 'grade_level') {
	    			return "12th Grade";
	    		}
	    	})
	        .attr("fill", theme.grey)
	        .style("font-size", "12px");
	    g_1.append("text")
	    	.attr("transform", "translate(0,0)")
	        .attr("text-anchor", "start")
	        .attr("x", svg_1_width - svg_1_margin.right - svg_1_margin.left + 25)
	        .attr("y", top + 70)
	        .text(function() {
	    		if (attribute == 'sentiment') {
	    			return "Negative";;
	    		} else if (attribute == 'subjectivity') {
	    			return "Subjective";;
	    		} else if (attribute == 'grade_level') {
	    			return "1st Grade";
	    		}
	    	})
	        .attr("fill", theme.grey)
	        .style("font-size", "12px");

	}

	//This function returns the slope, intercept and rSquare of the linear regression
	function leastSquares(xSeries, ySeries) {
		var reduceSumFunc = function(prev, cur) { return prev + cur; };
		
		var xBar = xSeries.reduce(reduceSumFunc) * 1.0 / xSeries.length;
		var yBar = ySeries.reduce(reduceSumFunc) * 1.0 / ySeries.length;

		var ssXX = xSeries.map(function(d) { return Math.pow(d - xBar, 2); })
			.reduce(reduceSumFunc);
		
		var ssYY = ySeries.map(function(d) { return Math.pow(d - yBar, 2); })
			.reduce(reduceSumFunc);
			
		var ssXY = xSeries.map(function(d, i) { return (d - xBar) * (ySeries[i] - yBar); })
			.reduce(reduceSumFunc);
			
		var slope = ssXY / ssXX;
		var intercept = yBar - (xBar * slope);
		var rSquare = Math.pow(ssXY, 2) / (ssXX * ssYY);
		
		return [slope, intercept, rSquare];
	}


</script>


<!-- <form id="toggle_year" class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary year_btn">
    <input type="radio" name="options" id="year_2010"> 2010
  </label>
  <label class="btn btn-secondary year_btn">
    <input type="radio" name="options" id="year_2011"> 2011
  </label>
  <label class="btn btn-secondary year_btn">
    <input type="radio" name="options" id="year_2012"> 2012
  </label>
  <label class="btn btn-secondary year_btn">
    <input type="radio" name="options" id="year_2013"> 2013
  </label>
  <label class="btn btn-secondary year_btn">
    <input type="radio" name="options" id="year_2014"> 2014
  </label>
  <label class="btn btn-secondary year_btn">
    <input type="radio" name="options" id="year_2015"> 2015
  </label>
  <label class="btn btn-secondary year_btn">
    <input type="radio" name="options" id="year_2016"> 2016
  </label>
  <label class="btn btn-secondary year_btn">
    <input type="radio" name="options" id="year_2017"> 2017
  </label>
  <label class="btn btn-secondary year_btn">
    <input type="radio" name="options" id="year_2018"> 2018
  </label>
  <label class="btn btn-secondary year_btn">
    <input type="radio" name="options" id="year_2019"> 2019
  </label>
  <label class="btn btn-secondary year_btn active">
    <input type="radio" name="options" id="year_2020" checked> 2020
  </label>
</form> -->

	
	
{% endblock %}