<!DOCTYPE html>
<html>
<head>
    <title> 
        {% block title %}{% endblock %} 
    </title>

    <!-- Required meta tags -->
    <meta charset="utf-8"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Import D3 library -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-dsv.v1.min.js"></script>



  <style>

    #header {
      position: fixed;
      top: 0;
      width: 100%;
    }

    #body_main {
      margin-top: 100px;
    }

    #footer {
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 20px
    }

    #footer-text {
        background-color: #d3d3d3 !important; 
        color: #282828 !important; 
        text-align: center
    }

    * {
      font-family: helvetica;
    }

  </style>


  <!-- child template head content goes here  -->
  {% block head %}{% endblock %}

</head>
<body> 

    <div id="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" style="color: white;">
              How Trump tweets about: 
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <!-- Dropdown to select tweet subject to filter on  -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="subject_select_menu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            All
                        </a>
                        <div class="dropdown-menu" id="subject_select">
                            <a class="dropdown-item" value="all">All</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" value="economy">The Economy</a>
                            <a class="dropdown-item" value="covid">COVID-19</a>
                            <a class="dropdown-item" value="impeachment">Impeachment</a>
                            <a class="dropdown-item" value="foreign_policy">Foreign Policy</a>
                            <a class="dropdown-item" value="domestic_policy">Domestic Policy</a>
                            <a class="dropdown-item" value="other">Other</a>
                        </div>
                    </li>
                </ul>

                <!-- Toggle to select which attribute to display -->
                <form id="toggle_data" class="btn-group btn-group-toggle form-inline my-2 my-lg-0" data-toggle="buttons" style="padding-right: 150px;">
                  <label class="btn btn-secondary active data_btn" value="retweet_count" >
                    <input type="radio" name="controlHeatmapType" checked>Retweets<br>
                  </label>
                  <label class="btn btn-secondary data_btn" value="favorite_count">
                    <input type="radio" name="controlHeatmapType">Favorites<br>
                  </label>
                  <label class="btn btn-secondary data_btn" value="length">
                    <input type="radio" name="controlHeatmapType">Length<br>
                  </label>
                </form>

                <!-- Toggle to select which attribute to display -->
                <form id="toggle_attribute" class="btn-group btn-group-toggle form-inline my-2 my-lg-0" data-toggle="buttons">
                  <label class="btn btn-secondary active attribute_btn" value="sentiment" >
                    <input type="radio" name="controlHeatmapType" checked>Sentiment<br>
                  </label>
                  <label class="btn btn-secondary attribute_btn" value="subjectivity">
                    <input type="radio" name="controlHeatmapType">Subjectivity<br>
                  </label>
                  <label class="btn btn-secondary attribute_btn" value="grade_level">
                    <input type="radio" name="controlHeatmapType">Reading Level<br>
                  </label>
                </form>

            </div>
        </nav>
    </div>

    <div id="body_main" class="container" style="height: 100%">
        <main>


            <!-- child template body content goes here -->
        	{% block main %}{% endblock %}


        </main>
    </div>

    <br>

    <div id="footer">
        <div class="card">
            <div class="card-body" id="footer-text">
                Created in 2020 by Zach Sirera, Fahim Sunka, Gregory Trautman, and Amilkar Herrera for Georgia Tech CSE-6242. 
                <a href="/methodology"> Methodology </a>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS requirements -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>