This dashboard presents an analysis of all of Donald Trump's tweets from his account's inception to today. <br> <br>
To accomplish this tweets were parsed and classified using a trained Naive-Bayes classifier to assign subjet lables <br>
and then fed through semantic analysis algorithms to determine tweet sentiment, subjetivity, and complexity. <br> <br>

This dashboard aims to illuminate trends in President Trump's bahavior based on the contents of his tweets, <br>
particularly as they are relevant to specific events and topics. <br><br>

More to come. <br>